@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Raleway:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
}
.ant-space-item {
  display: flex;
}

.hero-statistics {
  @apply flex flex-col flex-col-reverse items-start;
}

.hero-statistics .ant-statistic-title {
  @apply text-xl !text-gray-300;
}
.hero-statistics .ant-statistic-content {
  @apply text-4xl font-bold text-white;
}


.background-clip-path {
  clip-path: polygon(14% 85%, 22% 87%, 32% 90%, 42% 89%, 50% 85%, 58% 82%, 68% 79%, 75% 75%, 80% 72%, 83% 67%, 89% 64%, 95% 59%, 98% 55%, 99% 0%, 0% 1%, 1% 100%);
}